#username {
  text-align: center;
}

#settings {
    float: right;
}

#report, #block, .likeBtn{
  float: right;
  margin-right: 4px;
}

.carousel{
  margin: auto;

}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.neutral {
  style: none;
  border: none;
  background-color: transparent;
}

.tagList {
  margin-right: 5px;
}

#newTag {
  float: right;
}
