#username {
  text-align: center;
}

#settings {
    float: right;
}

.likeBtn {
  float: right;  
}

.carousel{
  margin: auto;

}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}
