<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/profile.css" />
<h1 id="username"><%=user.username%></h1>
<div class="thumbnail row">
<div class="col-xs-8 user-photo"  data-toggle="modal" data-target="#myModalImg1">
  <div class="thumbnail">
    <div class="image">
      <img class="img img-responsive full-width" src=http://1.bp.blogspot.com/-hNC-oT6f-fY/TeXxO26yjvI/AAAAAAAAAOY/qfkOqdKkBi8/s1600/platon-photographer-putin-man-of-the-year-portrait.jpg>
    </div>
  </div>
</div>
<div class="col-xs-4 user-photo-small"  data-toggle="modal" data-target="#myModalImg1">
  <div class="thumbnail">
    <div class="image">
      <img class="img img-responsive full-width" src=http://1.bp.blogspot.com/-hNC-oT6f-fY/TeXxO26yjvI/AAAAAAAAAOY/qfkOqdKkBi8/s1600/platon-photographer-putin-man-of-the-year-portrait.jpg>
    </div>
  </div>
</div>
<div class="col-xs-4 user-photo-small"  data-toggle="modal" data-target="#myModalImg1">
  <div class="thumbnail">
    <div class="image">
      <img class="img img-responsive full-width" src=http://1.bp.blogspot.com/-hNC-oT6f-fY/TeXxO26yjvI/AAAAAAAAAOY/qfkOqdKkBi8/s1600/platon-photographer-putin-man-of-the-year-portrait.jpg>
    </div>
  </div>
</div>
<div class="col-xs-4 user-photo-small"  data-toggle="modal" data-target="#myModalImg1">
  <div class="thumbnail">
    <div class="image">
      <img class="img img-responsive full-width" src=http://1.bp.blogspot.com/-hNC-oT6f-fY/TeXxO26yjvI/AAAAAAAAAOY/qfkOqdKkBi8/s1600/platon-photographer-putin-man-of-the-year-portrait.jpg>
    </div>
  </div>
</div>
<div class="col-xs-4 user-photo-small"  data-toggle="modal" data-target="#myModalImg1">
  <div class="thumbnail">
    <div class="image">
      <img class="img img-responsive full-width" src=http://1.bp.blogspot.com/-hNC-oT6f-fY/TeXxO26yjvI/AAAAAAAAAOY/qfkOqdKkBi8/s1600/platon-photographer-putin-man-of-the-year-portrait.jpg>
    </div>
  </div>
</div>
</div>
<% include ../partials/footer %>
