<% include ../partials/header %>
<div class=container id="messageContainer">
  <a id="loadMore">Load More ...</a>
  <ul class="list-group" id="message"></ul>
  <form id="tchatForm">
    <div class="input-group">
      <input id="tchatInput" type="text" autocomplete="off" class="form-control" required=true>
      <span class="input-group-btn">
        <button class="btn btn-default btn-primary">Send</button>
      </span>
    </div>
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>var user="<%=user.username%>"</script>
<script src="/js/tchat.js"></script>
<% include ../partials/footer %>
