<% include ../partials/header %>
<div class="container">
  <div class="jumbotron">
    <h2>Log-In<h2>
    <form id="logInForm">
      <div class="form-group">
        <input type="text" name="username" placeholder="Username" class="form-control" required=true>
        <input type="password" name="password" placeholder="Password" class="form-control" required=true>
      </div>
      <input type='submit' class="btn btn-default btn-primary" value="Log In">
      <a class="btn btn-default btn-warning" href="/user/new">Sign In</a>
    </form>
    <small><a href="/login/lost">Password Lost</a></small>
  </div>
</div>
<script src="/js/form.js"></script>
<% include ../partials/footer %>
